</head>
<body>
  
<!-- Start of page header section-->
<header class = 'pg-header pg-header-sm pg-header-md'>
    <section class = 'header-items header-items-sm header-items-md logo'>
      <a class = 'item item-sm item-md' href = "/">
        <h1>Nemwel <span class = 'span-logo'>Onsando</span></h1>
      </a>
    </section>
    <!-- navbar -->
    <section class = 'header-items'>
      <nav class = 'navbar'>
        <div class = 'navbar-center'>
          <% if(isLoggedIn) { %>
          <span class = "nav-icon">
            <a href = "/" > <i class = "fas fa-home"></i></a>
          </span>
          <span class = "nav-icon">
            <i class = "fas fa-bars"></i>
          </span>
        <div class = "cart-btn">
          <span class = "nav-icon">
            <i class = "fas fa-cart-plus"></i>
          </span>
          <div class = "cart-items">0</div>
        </div>  
        </div         
        <% } else { %>
            
        <% } %>
           
      </nav>
    </section>
      <!--End of navbar-->
</header>
