                                                                                            </head>
<body>
  
<!-- Page header section-->
<header class = 'pg-header pg-header-sm pg-header-md'>
  <!-- navbar  section -->
      <nav class = 'navbar'>
        <div class = 'navbar-center'>
          <%# if(!isLogged) { %>                                                                                                                                                                                                                                                                                                                                      
          <span class = "nav-icon">
            <i class = "fas fa-bars"></i>
          </span> 
          <span class = "nav-icon logo">
            <a href = '/'> 
              <img src = "images/logo-06.png" alt = "logo" />
            </a>  
          </span>
          <div class = "cart-btn">
            <span class = "nav-icon">
              <i class = "fas fa-cart-plus"></i>
            </span>
            <div class = "cart-items">0</div>
          </div>  
        </div>         
        <%# } else { %>
            
        <%# } %>           
      </nav>
      <!--End of navbar--> 
</header>
