<!DOCTYPE html>
<html lang = "en">
    <%- include('partials/_head') %>
<body>
    <!-- Start of <header>   --> 
        <%- include("partials/_header") %>
    <!--End of </header> -->

    <!-- Start of Main -->
    <main class ='container container-sm container-md'>
      <header class = 'main main-sm main-md'>
          <span class = 'span-img'>
           <!--<img src="/images/img-05.jpg" alt = ""> --> 
             <img src = "images/img-10.png" alt = "">
          </span>
      </header>
      <section class = 'main main-sm main-md'>
        <p class = 'p-info'>
          I'm <span class = 'span'>Nemwel Onsando</span><br/>
          A seasoned Full Stack Engineer with over 5 years<br/>
          based in Nairobi,Kenya.
        </p><br/>
      </section>
      <p class = 'more'>
        <span class = 'span-more'>
        <a href = "/about" >More about me...</a>
      </span>
    </p>

    </main>

    <!-- Start of <footer> -->
       <%- include("partials/_footer") %>
    <!-- End of </footer>  -->
    </body>
</html>